---
// 导入布局组件
import BaseLayout from "../layouts/BaseLayout.astro";
// blog列表
import BlogPost from "../components/BlogPost.astro";
// 获取所有文章的数据  Astro.glob()
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "mayfly博客";
// 导入样式
import "../styles/global.css";
---

<BaseLayout pageTitle={pageTitle}>
  <p>在这里，我将分享我的学习之旅。</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
