---
//导入汉堡组件
import Hamburger from './Hamburger.astro';
// 导入导航组件
import Navigation from './Navigation.astro';
// 导入主题图标
import ThemeIcon from './ThemeIcon.astro';
---
<header>
 <nav>
    <!-- 应用汉堡组件 -->
    <Hamburger />
    <!-- 应用主题图标 -->
    <ThemeIcon />
    <!-- 应用导航组件 -->
   <Navigation />
 </nav>
</header>